{% extends '!layout.html' %}

{% set copyright = '2018, Fakultät für Chemie und Pharmazie, LMU München. ' +
	'Alle Inhalte dieser Seite stehen unter einer <a ' +
        'href="https://creativecommons.org/licenses/by-sa/4.0/deed.de">' +
	'CC-BY-SA 4.0-Lizenz</a>. <a href="' + pathto('doc/CC-BY-SA') +
	'">Mehr Informationen</a>' %}
