.collapsible-trigger {
	text-align: left;
	text-decoration: none;
	font-size: inherit;
}

.collapsible-trigger:before {
	vertical-align: center;
	content: '';
	font-size: inherit;
	display: inline-block;
	width: .7em;
	height: .7em;
	margin-right: 5px;
	background-image: url('../images/collapsible_arrow.svg');
	background-size: .7em .7em;
	background-repeat: no-repeat;
	-webkit-transition: all .1s;
	-moz-transition: all .1s;
	-ms-transition: all .1s;
	-o-transition: all .1s;
	transition: all .1s;
}

.collapsible-trigger.open:before {
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-ms-transform-origin: center center;
	-o-transform-origin: center center;
	transform-origin: center center;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.collapsible-trigger:hover {
	text-decoration: none;
}

.collapsible-trigger:after {
	content: '';
}

.collapsible-content {
	background-color: #f1f1f1;
	display: none;
	overflow: hidden;
	margin-left: .35em;
	padding: 10px 10px;
	border-left-style: solid;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
}

.abstract-link {
	display: inline-block;
	margin-top: 2em;
	margin-left: 30px;
}
