.hoverbox-text {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.hoverbox-content {
    visibility: hidden;
    display: block;
    max-width: 400px;
    min-width: 120px;
    background-color: #555;
    color: #fff;
    text-align: justify;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    --arrow-left: 50%;
}

.hoverbox-content::after {
    content: "";
    position: absolute;
    top: 100%;
    left: var(--arrow-left);
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
