<div id="glowscript" class="glowscript">
<link type="text/css" href="https://s3.amazonaws.com/glowscript/css/redmond/2.1/jquery-ui.custom.css" rel="stylesheet" />
<!--
<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css" />
<link type="text/css" href="https://s3.amazonaws.com/glowscript/css/ide.css" rel="stylesheet" />
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/glowscript/lib/jquery/2.1/jquery.min.js"></script>
-->
<script type="text/javascript" src="https://s3.amazonaws.com/glowscript/lib/jquery/2.1/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/glowscript/package/glow.2.7.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/glowscript/package/RSrun.2.7.min.js"></script>
<script type="text/javascript"><!--//--><![CDATA[//><!--
;(function() { var __rt=srequire('streamline/lib/callbacks/runtime').runtime(__filename, false),__func=__rt.__func,__cb=__rt.__cb; var RS_modules = {};
var running;
RS_modules.pythonize = {};

(function() {
  function strings() {
    var string_funcs, exclude, name;
    string_funcs = set("capitalize strip lstrip rstrip islower isupper isspace lower upper swapcase center count endswith startswith find rfind index rindex format join ljust rjust partition rpartition replace split rsplit splitlines zfill".split(" "));
    if (!arguments.length) {
      exclude = (function() {
        var s = RS_set();
        s.jsset.add("split");
        s.jsset.add("replace");
        return s;
      })(); }
     else if (arguments[0]) {
      exclude = Array.prototype.slice.call(arguments); }
     else {
      exclude = null; }  ;

    if (exclude) {
      string_funcs = string_funcs.difference(set(exclude)); } ;

    var RS_Iter0 = RS_Iterable(string_funcs);
    for (var RS_Index0 = 0; RS_Index0["<"](RS_Iter0.length); RS_Index0++) {
      name = RS_Iter0[RS_Index0];
      (RS_expr_temp = String.prototype)[((((typeof name === "number") && name["<"](0))) ? RS_expr_temp.length["+"](name) : name)] = (RS_expr_temp = RS_str.prototype)[((((typeof name === "number") && name["<"](0))) ? RS_expr_temp.length["+"](name) : name)]; }; };  RS_modules.pythonize.strings = strings;
})();
function main(_) { var version, box, sphere, cylinder, pyramid, cone, helix, ellipsoid, ring, arrow, compound, display, vector, print, scene, RS_ls, boxDimension, k, R, M, T, natoms, mass, ratom, dt, atoms, pavg, running, d, animation, run_button, boxtop, boxbottom, vert1, vert2, vert3, vert4, x, y, z, theta, phi, px, py, pz, i, deltav, nhisto, histo, gg, accum, vdist, atom, __name__, strings, RS_Index1, RS_Index2, RS_Iter3, RS_Index3, RS_Iter9, RS_Index9, RS_Iter10, RS_Index10, __this = this;  function change_run_state(b) {
    var RS_ls;
    "34";
    "35";
    running = !running;
    "36";
    if (running) {
      "37";
      run_button.text = "Pause";
      "38"; }
     else {
      "39";
      run_button.text = "Start"; } ; };  function Atom() {
    if ((this.RS_object_id === undefined)) { Object.defineProperty(this, "RS_object_id", { value: ++RS_object_counter }); };
    Atom.prototype.__init__.apply(this, arguments); };
  function barx(v) {
    var RS_ls;
    "139";
    return int(v["/"](deltav)); };

  function interchange(v1, v2) {
    var RS_ls, barx1, barx2;
    "158";
    barx1 = barx(v1);
    "159";
    barx2 = barx(v2);
    "160";
    if ((((barx1 === barx2) || ((typeof barx1 === "object") && RS_equals(barx1, barx2))))) {
      "161";
      return; } ;

    "162";
    histo[((((typeof barx1 === "number") && barx1["<"](0))) ? histo.length["+"](barx1) : barx1)] = histo[((((typeof barx1 === "number") && barx1["<"](0))) ? histo.length["+"](barx1) : barx1)]["-="](1);
    "163";
    histo[((((typeof barx2 === "number") && barx2["<"](0))) ? histo.length["+"](barx2) : barx2)] = histo[((((typeof barx2 === "number") && barx2["<"](0))) ? histo.length["+"](barx2) : barx2)]["+="](1); };


  function atomCollisions() {
    var RS_ls, hitlist, atom1, atom2, distance, j, i, pos1, pos2, p1, p2, m1, m2, radius1, radius2, v1, v2, vrel, rrel, a, b, c, deltaT, mtot, ptot, temp, RS_unpack;
    "166";
    hitlist = RS_list_decorate([]);
    "167";
    for (var RS_Index4 = 0; RS_Index4["<"](natoms); RS_Index4++) {
      i = RS_Index4;
      "168";
      for (var RS_Index5 = 0; RS_Index5["<"](i); RS_Index5++) {
        j = RS_Index5;
        "169";
        atom1 = atoms[((((typeof i === "number") && i["<"](0))) ? atoms.length["+"](i) : i)];
        "170";
        atom2 = atoms[((((typeof j === "number") && j["<"](0))) ? atoms.length["+"](j) : j)];
        "172";
        distance = mag(atom1.getPosition()["-"](atom2.getPosition()));
        "173";
        if (distance["<"](atom1.getRadius()["+"](atom2.getRadius()))) {
          "174";
          hitlist.append(RS_list_decorate([atom1,atom2,])); } ; }; };    "176";
    var RS_Iter6 = RS_Iterable(hitlist);
    for (var RS_Index6 = 0; RS_Index6["<"](RS_Iter6.length); RS_Index6++) {
      RS_unpack = RS_Iter6[RS_Index6];
      atom1 = RS_unpack[0];
      atom2 = RS_unpack[1];
      "177";
      pos1 = atom1.getPosition();
      "178";
      pos2 = atom2.getPosition();
      "179";
      p1 = atom1.getMomentum();
      "180";
      p2 = atom2.getMomentum();
      "181";
      m1 = atom1.getMass();
      "182";
      m2 = atom2.getMass();
      "183";
      radius1 = atom1.getRadius();
      "184";
      radius2 = atom2.getRadius();
      "187";
      v1 = p1["/"](m1);
      "188";
      v2 = p2["/"](m2);
      "190";
      vrel = v2["-"](v1);
      "191";
      if ((((vrel === 0) || ((typeof vrel === "object") && RS_equals(vrel, 0))))) {
        "192";
        continue; } ;

      "193";
      rrel = pos1["-"](pos2);
      "195";
      a = vrel.mag2;
      "196";
      b = 2["*"](rrel.dot(vrel));
      "197";
      c = rrel.mag2["-"](GS_power((radius1["+"](radius2)), 2));
      "198";
      if (GS_power(b, 2)["-"](4["*"](a)["*"](c))["<"](0)) {
        "199";
        continue; } ;

      "200";
      deltaT = b["-u"]()["+"](sqrt(GS_power(b, 2)["-"](4["*"](a)["*"](c))))["/"](2["*"](a));
      "202";
      atom1.move(deltaT["-u"]());
      "203";
      atom2.move(deltaT["-u"]());
      "205";
      mtot = m1["+"](m2);
      "206";
      ptot = p1["+"](p2);
      "207";
      p1 = p1["-="](ptot["/"](2));
      "208";
      p2 = p2["-="](ptot["/"](2));
      "210";
      rrel = norm(atom1.getPosition()["-"](atom2.getPosition()));
      "212";
      temp = p1;
      "213";
      p1 = p1["+="](2["*"](p2.dot(rrel))["*"](rrel));
      "214";
      p2 = p2["+="](2["*"](temp.dot(rrel))["*"](rrel));
      "216";
      p1 = p1["+="](ptot["/"](2));
      "217";
      p2 = p2["+="](ptot["/"](2));
      "219";
      atom1.setMomentum(p1);
      "220";
      atom2.setMomentum(p2);
      "222";
      interchange(v1.mag, p1.mag["/"](m1));
      "223";
      interchange(v2.mag, p2.mag["/"](m2));
      "225";
      atom1.move(deltaT);
      "226";
      atom2.move(deltaT); }; };
  function wallCollisions() {
    var RS_ls, m, position, p, posAndP, deltaT, i, atom;
    "230";
    var RS_Iter7 = RS_Iterable(atoms);
    for (var RS_Index7 = 0; RS_Index7["<"](RS_Iter7.length); RS_Index7++) {
      atom = RS_Iter7[RS_Index7];
      "231";
      m = atom.getMass();
      "233";
      for (var RS_Index8 = 0; RS_Index8["<"](3); RS_Index8++) {
        i = RS_Index8;
        "234";
        position = RS_list_decorate([atom.getPosition().x,atom.getPosition().y,atom.getPosition().z,]);
        "235";
        p = RS_list_decorate([atom.getMomentum().x,atom.getMomentum().y,atom.getMomentum().z,]);
        "237";
        posAndP = RS_list_decorate([RS_list_decorate([position.x,position.y,position.z,]),RS_list_decorate([p.x,p.y,p.z,]),]);
        "239";
        if (abs(position[((((typeof i === "number") && i["<"](0))) ? position.length["+"](i) : i)])[">"](boxDimension["/"](2))) {
          "240";
          deltaT = abs(position[((((typeof i === "number") && i["<"](0))) ? position.length["+"](i) : i)])["-"](boxDimension["/"](2))["/"](abs(p[((((typeof i === "number") && i["<"](0))) ? p.length["+"](i) : i)])["/"](m));
          "241";
          atom.move(deltaT["-u"]());
          "242";
          p[((((typeof i === "number") && i["<"](0))) ? p.length["+"](i) : i)] = p[((((typeof i === "number") && i["<"](0))) ? p.length["+"](i) : i)]["-u"]();
          "243";
          atom.setMomentum(vector(p[0], p[1], p[2]));
          "244";
          atom.move(deltaT); } ; }; }; }; var __frame = { name: "main", line: 33 }; return __func(_, this, arguments, main, 0, __frame, function __$main() { version = RS_list_decorate(["2.7","glowscript",]); Array.prototype["+"] = function(r) { return this.concat(r); }; Array.prototype["*"] = function(r) { return __array_times_number(this, r); }; __name__ = "__main__"; window.__GSlang = "vpython"; box = vp_box; sphere = vp_sphere; cylinder = vp_cylinder; pyramid = vp_pyramid; cone = vp_cone; helix = vp_helix; ellipsoid = vp_ellipsoid; ring = vp_ring; arrow = vp_arrow; compound = vp_compound; display = canvas; vector = vec; print = GSprint; scene = canvas(); strings = RS_modules.pythonize.strings; strings(); "2"; return (function ___closure(_) { var RS_d; RS_d = { }; RS_d["extensions"] = RS_list_decorate(["tex2jax.js",]); RS_d["jax"] = RS_list_decorate(["input/TeX","output/HTML-CSS",]); return (function ___closure(_) { var RS_d; RS_d = { }; RS_d["fonts"] = RS_list_decorate(["TeX",]); return _(null, RS_d); })(__cb(_, __frame, 4, 27, function ___(__0, __1) { RS_d["HTML-CSS"] = __1; RS_d["displayAlign"] = "center"; return _(null, RS_d); }, true)); })(__cb(_, __frame, 25, 23, function ___(__0, __1) { MathJax.Hub.Config(__1); "9"; MathJax.Hub.Queue(RS_list_decorate(["Typeset",MathJax.Hub,])); "11"; boxDimension = 1; "13"; k = 1.38064852e-23; "14"; R = 8.3144; "15"; M = 0.0040026; "16"; T = 300; "18"; natoms = 100; "19"; mass = M["/"](6.022e+23); "20"; ratom = 0.031; "21"; dt = 0.00001; "23"; atoms = RS_list_decorate([]); "25"; pavg = sqrt(2["*"](mass)["*"](3)["/"](2)["*"](k)["*"](T)); "27"; running = false; "29"; d = boxDimension["/"](2)["+"](ratom); "31"; animation = RS_interpolate_kwargs.call(__this, canvas, [RS_desugar_kwargs({ width: 640, height: 480, title: "", userzoom: false }),]); "33"; if (!change_run_state.__argnames__) { Object.defineProperties(change_run_state, { __argnames__: { value: ["b",] } }); } ; "40"; run_button = RS_interpolate_kwargs.call(__this, button, [RS_desugar_kwargs({ text: "Start", pos: animation.title_anchor, bind: change_run_state }),]); "43"; animation.range = boxDimension; "45"; Atom.prototype.__init__ = function __init__() { var self = this; var mass = ((((((0 === arguments.length["-"](1)) && (arguments[arguments.length["-"](1)] !== null)) && (typeof arguments[arguments.length["-"](1)] === "object")) && (arguments[arguments.length["-"](1)][RS_kwargs_symbol] === true))) ? undefined : arguments[0]); var radius = ((((((1 === arguments.length["-"](1)) && (arguments[arguments.length["-"](1)] !== null)) && (typeof arguments[arguments.length["-"](1)] === "object")) && (arguments[arguments.length["-"](1)][RS_kwargs_symbol] === true))) ? undefined : arguments[1]); var pos = ((((((2 === arguments.length["-"](1)) && (arguments[arguments.length["-"](1)] !== null)) && (typeof arguments[arguments.length["-"](1)] === "object")) && (arguments[arguments.length["-"](1)][RS_kwargs_symbol] === true))) ? undefined : arguments[2]); var p = ((((((3 === arguments.length["-"](1)) && (arguments[arguments.length["-"](1)] !== null)) && (typeof arguments[arguments.length["-"](1)] === "object")) && (arguments[arguments.length["-"](1)][RS_kwargs_symbol] === true))) ? undefined : arguments[3]); var color = ((((((4 === arguments.length["-"](1)) && (arguments[arguments.length["-"](1)] !== null)) && (typeof arguments[arguments.length["-"](1)] === "object")) && (arguments[arguments.length["-"](1)][RS_kwargs_symbol] === true))) ? undefined : arguments[4]); var make_trail = ((((arguments[5] === undefined) || (((((5 === arguments.length["-"](1)) && (arguments[arguments.length["-"](1)] !== null)) && (typeof arguments[arguments.length["-"](1)] === "object")) && (arguments[arguments.length["-"](1)][RS_kwargs_symbol] === true))))) ? __init__.__defaults__.make_trail : arguments[5]); var retain = ((((arguments[6] === undefined) || (((((6 === arguments.length["-"](1)) && (arguments[arguments.length["-"](1)] !== null)) && (typeof arguments[arguments.length["-"](1)] === "object")) && (arguments[arguments.length["-"](1)][RS_kwargs_symbol] === true))))) ? __init__.__defaults__.retain : arguments[6]); var trail_radius = ((((arguments[7] === undefined) || (((((7 === arguments.length["-"](1)) && (arguments[arguments.length["-"](1)] !== null)) && (typeof arguments[arguments.length["-"](1)] === "object")) && (arguments[arguments.length["-"](1)][RS_kwargs_symbol] === true))))) ? __init__.__defaults__.trail_radius : arguments[7]); var RS_kwargs_obj = arguments[arguments.length["-"](1)]; if ((((RS_kwargs_obj === null) || (typeof RS_kwargs_obj !== "object")) || (RS_kwargs_obj[RS_kwargs_symbol] !== true))) { RS_kwargs_obj = { }; }; if (Object.prototype.hasOwnProperty.call(RS_kwargs_obj, "make_trail")) { make_trail = RS_kwargs_obj.make_trail; } ; if (Object.prototype.hasOwnProperty.call(RS_kwargs_obj, "retain")) { retain = RS_kwargs_obj.retain; } ; if (Object.prototype.hasOwnProperty.call(RS_kwargs_obj, "trail_radius")) { trail_radius = RS_kwargs_obj.trail_radius; } ; var RS_ls; "47"; self.mass = mass; "48"; self.radius = radius; "49"; self.pos = pos; "50"; self.p = p; "51"; self.color = color; "52"; self.sphere = RS_interpolate_kwargs.call(this, sphere, [RS_desugar_kwargs({ pos: self.pos, radius: self.radius, color: self.color, make_trail: make_trail, retain: retain, trail_radius: trail_radius }),]); }; if (!Atom.prototype.__init__.__defaults__) { Object.defineProperties(Atom.prototype.__init__, { __defaults__: { value: { make_trail: false, retain: 0, trail_radius: 0 } }, __handles_kwarg_interpolation__: { value: true }, __argnames__: { value: ["mass","radius","pos","p","color","make_trail","retain","trail_radius",] } }); } ; Atom.__argnames__ = Atom.prototype.__init__.__argnames__; Atom.__handles_kwarg_interpolation__ = Atom.prototype.__init__.__handles_kwarg_interpolation__; Atom.prototype.getMass = function getMass() { var self = this; var RS_ls; "56"; return self.mass; }; Atom.prototype.getRadius = function getRadius() { var self = this; var RS_ls; "59"; return self.radius; }; Atom.prototype.getPosition = function getPosition() { var self = this; var RS_ls; "62"; return self.pos; }; Atom.prototype.getMomentum = function getMomentum() { var self = this; var RS_ls; "65"; return self.p; }; Atom.prototype.setMomentum = function setMomentum(p) { var self = this; var RS_ls; "68"; self.p = p; }; if (!Atom.prototype.setMomentum.__argnames__) { Object.defineProperties(Atom.prototype.setMomentum, { __argnames__: { value: ["p",] } }); } ; Atom.prototype.move = function move(time) { var self = this; var RS_ls; "71"; self.pos = self.pos["+="](self.p["/"](self.mass)["*"](time)); "72"; self.sphere.pos = self.pos; }; if (!Atom.prototype.move.__argnames__) { Object.defineProperties(Atom.prototype.move, { __argnames__: { value: ["time",] } }); } ; Atom.prototype.__repr__ = function __repr__() { return "<"["+"](__name__)["+"](".")["+"](this.constructor.name)["+"](" #")["+"](this.RS_object_id)["+"](">"); }; Atom.prototype.__str__ = function __str__() { return this.__repr_; }; Object.defineProperty(Atom.prototype, "__bases__", { value: [] }); Atom.prototype.RS_ls = "46"; Atom.prototype.RS_ls = "55"; Atom.prototype.RS_ls = "58"; Atom.prototype.RS_ls = "61"; Atom.prototype.RS_ls = "64"; Atom.prototype.RS_ls = "67"; Atom.prototype.RS_ls = "70"; "74"; animation.append_to_caption("\n\n"); "76"; boxtop = RS_interpolate_kwargs.call(__this, curve, [RS_desugar_kwargs({ color: color.red, radius: 0.005 }),]); "77"; boxtop.append(RS_list_decorate([vector(d, d, d),vector(d["-u"](), d, d),vector(d["-u"](), d, d["-u"]()),vector(d, d, d["-u"]()),vector(d, d, d),])); "85"; boxbottom = RS_interpolate_kwargs.call(__this, curve, [RS_desugar_kwargs({ color: color.red, radius: 0.005 }),]); "86"; boxbottom.append(RS_list_decorate([vector(d, d["-u"](), d),vector(d["-u"](), d["-u"](), d),vector(d["-u"](), d["-u"](), d["-u"]()),vector(d, d["-u"](), d["-u"]()),vector(d, d["-u"](), d),])); "94"; vert1 = RS_interpolate_kwargs.call(__this, curve, [RS_desugar_kwargs({ color: color.red, radius: 0.005 }),]); "95"; vert1.append(RS_list_decorate([vector(d, d, d),vector(d, d["-u"](), d),])); "100"; vert2 = RS_interpolate_kwargs.call(__this, curve, [RS_desugar_kwargs({ color: color.red, radius: 0.005 }),]); "101"; vert2.append(RS_list_decorate([vector(d["-u"](), d, d["-u"]()),vector(d["-u"](), d["-u"](), d["-u"]()),])); "106"; vert3 = RS_interpolate_kwargs.call(__this, curve, [RS_desugar_kwargs({ color: color.red, radius: 0.005 }),]); "107"; vert3.append(RS_list_decorate([vector(d, d, d["-u"]()),vector(d, d["-u"](), d["-u"]()),])); "112"; vert4 = RS_interpolate_kwargs.call(__this, curve, [RS_desugar_kwargs({ color: color.red, radius: 0.005 }),]); "113"; vert4.append(RS_list_decorate([vector(d["-u"](), d, d),vector(d["-u"](), d["-u"](), d),])); "118"; for (RS_Index1 = 0; RS_Index1["<"](natoms); RS_Index1++) { i = RS_Index1; "119"; x = boxDimension["*"](random())["-"](boxDimension["/"](2)); "120"; y = boxDimension["*"](random())["-"](boxDimension["/"](2)); "121"; z = boxDimension["*"](random())["-"](boxDimension["/"](2)); "123"; theta = pi["*"](random()); "124"; phi = 2["*"](pi)["*"](random()); "126"; px = pavg["*"](sin(theta))["*"](cos(phi)); "127"; py = pavg["*"](sin(theta))["*"](sin(phi)); "128"; pz = pavg["*"](cos(theta)); "130"; if ((((i === 0) || ((typeof i === "object") && RS_equals(i, 0))))) { "131"; atoms.append(RS_interpolate_kwargs_constructor.call(Object.create(Atom.prototype), false, Atom, [RS_desugar_kwargs({ mass: mass, radius: ratom, pos: vector(x, y, z), p: vector(px, py, pz), color: color.cyan, make_trail: true, retain: 100, trail_radius: 0.3["*"](ratom) }),])); "133"; } else { "134"; atoms.append(RS_interpolate_kwargs_constructor.call(Object.create(Atom.prototype), false, Atom, [RS_desugar_kwargs({ mass: mass, radius: ratom, pos: vector(x, y, z), p: vector(px, py, pz), color: color.gray(0.5) }),])); } ; }; "136"; deltav = 100; "138"; if (!barx.__argnames__) { Object.defineProperties(barx, { __argnames__: { value: ["v",] } }); } ; "141"; nhisto = int(4500["/"](deltav)); "142"; histo = RS_list_decorate([]); "143"; for (RS_Index2 = 0; RS_Index2["<"](nhisto); RS_Index2++) { i = RS_Index2; "144"; histo.append(0); }; "145"; histo[RS_bound_index(barx(pavg["/"](mass)), histo)] = natoms; "147"; gg = RS_interpolate_kwargs.call(__this, graph, [RS_desugar_kwargs({ width: 640, height: 240, xmin: 0, xmax: 3000, xtitle: "<i>v<\/i> / m s<sup>-1</sup>", ytitle: "Anzahl der Atome", ymin: 0, ymax: natoms["*"](deltav)["/"](1000) }),]); "151"; accum = RS_list_decorate([]); "152"; RS_Iter3 = RS_Iterable(range(int(3000["/"](deltav)))); for (RS_Index3 = 0; RS_Index3["<"](RS_Iter3.length); RS_Index3++) { i = RS_Iter3[RS_Index3]; "153"; accum.append(RS_list_decorate([deltav["*"](i["+"](0.5)),0,])); }; "154"; vdist = RS_interpolate_kwargs.call(__this, gvbars, [RS_desugar_kwargs({ color: color.red, delta: deltav }),]); "155"; vdist.plot(RS_list_decorate([RS_list_decorate([pavg["/"](mass),natoms,]),])); "157"; if (!interchange.__argnames__) { Object.defineProperties(interchange, { __argnames__: { value: ["v1","v2",] } }); } ; "165"; "229";

      "246"; return (function ___(__break) { var __more; var __loop = __cb(_, __frame, 0, 0, function __$main() { __more = false;
          var __3 = true; if (__3) {
            "247";
            return rate(150, __cb(_, __frame, 461, 8, function __$main() {
              "249";
              if (running) {
                "250";
                RS_Iter9 = RS_Iterable(range(len(accum)));
                for (RS_Index9 = 0; RS_Index9["<"](RS_Iter9.length); RS_Index9++) {
                  i = RS_Iter9[RS_Index9];
                  "251";
                  accum[((((typeof i === "number") && i["<"](0))) ? accum.length["+"](i) : i)][1] = nhisto["*"](accum[((((typeof i === "number") && i["<"](0))) ? accum.length["+"](i) : i)][1])["+"](histo[((((typeof i === "number") && i["<"](0))) ? histo.length["+"](i) : i)])["/"](nhisto["+"](1)); };

                "252";
                if (RS_equals((nhisto % 10), 0)) {
                  "253";
                  vdist.data = accum; } ;

                "254";
                nhisto = nhisto["+="](1);
                "256";
                RS_Iter10 = RS_Iterable(atoms);
                for (RS_Index10 = 0; RS_Index10["<"](RS_Iter10.length); RS_Index10++) {
                  atom = RS_Iter10[RS_Index10];
                  "257";
                  atom.move(dt); };

                "259";
                atomCollisions();
                "260";
                wallCollisions(); } ; while (__more) { __loop(); }; __more = true; }, true)); } else { __break(); } ; }); do { __loop(); } while (__more); __more = true; })(_); }, true)); });};if (!main.__argnames__) { Object.defineProperties(main, {
    __argnames__: { value: ["_",] } });};

;$(function(){ window.__context = { glowscript_container: $("#glowscript").removeAttr("id") }; main(__func) })})()
//--><!]]></script>
</div>
