<div id="glowscript" class="glowscript">
<link type="text/css" href="https://s3.amazonaws.com/glowscript/css/redmond/2.1/jquery-ui.custom.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css" />
<!--
<link type="text/css" href="https://s3.amazonaws.com/glowscript/css/ide.css" rel="stylesheet" />
-->
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/glowscript/lib/jquery/2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/glowscript/lib/jquery/2.1/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/glowscript/package/glow.2.7.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/glowscript/package/RSrun.2.7.min.js"></script>
<script type="text/javascript"><!--//--><![CDATA[//><!--
;(function() { var __rt=srequire('streamline/lib/callbacks/runtime').runtime(__filename, false),__func=__rt.__func,__cb=__rt.__cb; var RS_modules = {};
RS_modules.pythonize = {};

(function() {
  function strings() {
    var string_funcs, exclude, name;
    string_funcs = set("capitalize strip lstrip rstrip islower isupper isspace lower upper swapcase center count endswith startswith find rfind index rindex format join ljust rjust partition rpartition replace split rsplit splitlines zfill".split(" "));
    if (!arguments.length) {
      exclude = (function() {
        var s = RS_set();
        s.jsset.add("split");
        s.jsset.add("replace");
        return s;
      })(); }
     else if (arguments[0]) {
      exclude = Array.prototype.slice.call(arguments); }
     else {
      exclude = null; }  ;

    if (exclude) {
      string_funcs = string_funcs.difference(set(exclude)); } ;

    var RS_Iter0 = RS_Iterable(string_funcs);
    for (var RS_Index0 = 0; RS_Index0["<"](RS_Iter0.length); RS_Index0++) {
      name = RS_Iter0[RS_Index0];
      (RS_expr_temp = String.prototype)[((((typeof name === "number") && name["<"](0))) ? RS_expr_temp.length["+"](name) : name)] = (RS_expr_temp = RS_str.prototype)[((((typeof name === "number") && name["<"](0))) ? RS_expr_temp.length["+"](name) : name)]; }; };  RS_modules.pythonize.strings = strings;
})();
function main(_) { var version, box, sphere, cylinder, pyramid, cone, helix, ellipsoid, ring, arrow, compound, display, vector, print, scene, RS_ls, t1, t2, delta_t, a, s_graph, s_curve, s_approx, v_graph, v_curve, v_bar, t, v_bar_data, area, t_old, t_i, slider_canvas, interval_slider, interval_text, s_text, area_text, __name__, strings, RS_Index1, RS_Iter2, RS_Index2, __this = this;  function v(t) {
    var RS_ls;
    "23";
    return a["*"](t); };


  function s(t) {
    var RS_ls;
    "26";
    return 0.5["*"](a)["*"](t)["*"](t); };


  function tangent(t, delta_t) {
    var RS_ls;
    "29";
    if (t["-"](t1)["<"](0.000001)) {
      "30";
      return s(t1);
      "31"; }
     else {
      "32";
      return tangent(t["-"](delta_t), delta_t)["+"](v(t["-"](delta_t))["*"](delta_t)); } ; };

  function update(source) {
    var RS_ls, delta_t, s_approx_data, v_bar_data, area, t_old, t_i;
    "66";
    delta_t = t2["-"](t1)["/"](source.value);
    "67";
    v_bar.delta = delta_t;
    "69";
    s_approx_data = RS_list_decorate([]);
    "70";
    v_bar_data = RS_list_decorate([]);
    "71";
    area = 0;
    "72";
    t_old = t1;
    "73";
    var RS_Iter3 = RS_Iterable(range(t1, t2, delta_t));
    for (var RS_Index3 = 0; RS_Index3["<"](RS_Iter3.length); RS_Index3++) {
      t_i = RS_Iter3[RS_Index3];
      "74";
      s_approx_data.append(RS_list_decorate([t_i,tangent(t_i, delta_t),]));
      "75";
      area = area["+="](v(t_i)["*"](delta_t));
      "76";
      if ((((t_i === t1) || ((typeof t_i === "object") && RS_equals(t_i, t1))))) {
        "77";
        continue; } ;

      "78";
      v_bar_data.append(RS_list_decorate([t_old["+"](t_i)["/"](2),v(t_old),]));
      "79";
      t_old = t_i; };

    "80";
    s_approx_data.append(RS_list_decorate([t2,tangent(t2, delta_t),]));
    "81";
    s_approx.data = s_approx_data;
    "82";
    v_bar_data.append(RS_list_decorate([t_old["+"](delta_t["/"](2)),v(t_old),]));
    "83";
    v_bar.data = v_bar_data;
    "85";
    interval_text.text = "{:2.0f}".format(source.value);
    "86";
    area_text.text = "{:1.3f}".format(area); }; var __frame = { name: "main", line: 32 }; return __func(_, this, arguments, main, 0, __frame, function __$main() { version = RS_list_decorate(["2.7","glowscript",]); Array.prototype["+"] = function(r) { return this.concat(r); }; Array.prototype["*"] = function(r) { return __array_times_number(this, r); }; __name__ = "__main__"; window.__GSlang = "vpython"; box = vp_box; sphere = vp_sphere; cylinder = vp_cylinder; pyramid = vp_pyramid; cone = vp_cone; helix = vp_helix; ellipsoid = vp_ellipsoid; ring = vp_ring; arrow = vp_arrow; compound = vp_compound; display = canvas; vector = vec; print = GSprint; scene = canvas(); strings = RS_modules.pythonize.strings; strings(); "2"; return (function ___closure(_) { var RS_d; RS_d = { }; RS_d["extensions"] = RS_list_decorate(["tex2jax.js",]); RS_d["jax"] = RS_list_decorate(["input/TeX","output/HTML-CSS",]); return (function ___closure(_) { var RS_d; RS_d = { }; RS_d["fonts"] = RS_list_decorate(["TeX",]); return _(null, RS_d); })(__cb(_, __frame, 4, 27, function ___(__0, __1) { RS_d["HTML-CSS"] = __1; RS_d["displayAlign"] = "center"; return _(null, RS_d); }, true)); })(__cb(_, __frame, 25, 23, function ___(__0, __1) { MathJax.Hub.Config(__1); "9"; MathJax.Hub.Queue(RS_list_decorate(["Typeset",MathJax.Hub,])); "11"; scene.width = 0; "12"; scene.height = 0; "13"; scene.resizable = false; "14"; scene.visible = false; "16"; t1 = 3; "17"; t2 = 8; "18"; delta_t = 1; "20"; a = 0.2; "22"; if (!v.__argnames__) { Object.defineProperties(v, { __argnames__: { value: ["t",] } }); } ; "25"; if (!s.__argnames__) { Object.defineProperties(s, { __argnames__: { value: ["t",] } }); } ; "28"; if (!tangent.__argnames__) { Object.defineProperties(tangent, { __argnames__: { value: ["t","delta_t",] } }); } ; "34"; s_graph = RS_interpolate_kwargs.call(__this, graph, [RS_desugar_kwargs({ width: 600, height: 300, xmin: 0, xmax: 10, ymin: 0, ymax: 12, xtitle: "", ytitle: "<i>s<\/i> / m" }),]); "36"; s_curve = RS_interpolate_kwargs.call(__this, gcurve, [RS_desugar_kwargs({ color: color.black, graph: s_graph }),]); "37"; s_approx = RS_interpolate_kwargs.call(__this, gcurve, [RS_desugar_kwargs({ color: color.red, graph: s_graph }),]); "39"; v_graph = RS_interpolate_kwargs.call(__this, graph, [RS_desugar_kwargs({ width: 600, height: 300, xmin: 0, xmax: 10, ymin: 0, ymax: 2.4, xtitle: "<i>t</i> / s", ytitle: "<i>v</i> / m s<sup>-1</sup>" }),]); "41"; v_curve = RS_interpolate_kwargs.call(__this, gcurve, [RS_desugar_kwargs({ color: color.black, graph: v_graph }),]); "42"; v_bar = RS_interpolate_kwargs.call(__this, gvbars, [RS_desugar_kwargs({ delta: delta_t, color: color.red, graph: v_graph }),]); "45"; for (RS_Index1 = 0; RS_Index1["<"](10); RS_Index1 = RS_Index1["+="](0.001)) { t = RS_Index1; "46"; s_curve.plot(t, s(t)); "47"; v_curve.plot(t, v(t)); }; "50"; v_bar_data = RS_list_decorate([]); "51"; area = 0; "52"; t_old = t1; "53"; RS_Iter2 = RS_Iterable(range(t1, t2, delta_t)); for (RS_Index2 = 0; RS_Index2["<"](RS_Iter2.length); RS_Index2++) { t_i = RS_Iter2[RS_Index2]; "54"; s_approx.plot(t_i, tangent(t_i, delta_t)); "55"; area = area["+="](v(t_i)["*"](delta_t)); "56"; if ((((t_i === t1) || ((typeof t_i === "object") && RS_equals(t_i, t1))))) { "57"; continue; } ; "58"; v_bar_data.append(RS_list_decorate([t_old["+"](t_i)["/"](2),v(t_old),])); "59"; t_old = t_i; }; "60"; s_approx.plot(RS_list_decorate([t2,tangent(t2, delta_t),])); "61"; v_bar_data.append(RS_list_decorate([t_old["+"](delta_t["/"](2)),v(t_old),])); "62"; v_bar.plot(v_bar_data); "65";

      if (!update.__argnames__) { Object.defineProperties(update, {
          __argnames__: { value: ["source",] } }); } ;


      "88";
      slider_canvas = RS_interpolate_kwargs.call(__this, canvas, [RS_desugar_kwargs({ width: 0, height: 0, resizable: false, visible: false }),]);
      "91";
      box();
      "93";
      interval_slider = RS_interpolate_kwargs.call(__this, slider, [RS_desugar_kwargs({ min: 2, max: 50, value: t2["-"](t1)["/"](delta_t), step: 1, length: 400, bind: update, pos: slider_canvas.caption_anchor }),]);
      "95";
      slider_canvas.append_to_caption("    Anzahl der Intervalle: ");
      "96";
      interval_text = RS_interpolate_kwargs.call(__this, wtext, [RS_desugar_kwargs({ text: "{:2.0f}".format(interval_slider.value) }),]);
      "97";
      slider_canvas.append_to_caption("\n\n");
      "98";
      slider_canvas.append_to_caption("Änderung der Strecke: \\(\\Delta s = \\) ");
      "99";
      s_text = RS_interpolate_kwargs.call(__this, wtext, [RS_desugar_kwargs({ text: "{:1.3f}".format(s(t2)["-"](s(t1))) }),]);
      "100";
      slider_canvas.append_to_caption("\\(\\,\\mathrm{m}\\)");
      "101";
      slider_canvas.append_to_caption("\n");
      "102";
      slider_canvas.append_to_caption("Approximation durch Fläche: \\(\\displaystyle    \\sum_i v(t_i) \\Delta t = \\) ");
      "104";
      area_text = RS_interpolate_kwargs.call(__this, wtext, [RS_desugar_kwargs({ text: "{:1.3f}".format(area) }),]);
      "105";
      slider_canvas.append_to_caption("\\(\\,\\mathrm{m}\\)"); ; }, true)); });};

if (!main.__argnames__) { Object.defineProperties(main, {
    __argnames__: { value: ["_",] } });};

;$(function(){ window.__context = { glowscript_container: $("#glowscript").removeAttr("id") }; main(__func) })})()
//--><!]]></script>
</div>
