<div id="glowscript" class="glowscript">
<link type="text/css" href="https://s3.amazonaws.com/glowscript/css/redmond/2.1/jquery-ui.custom.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css" />
<!--
<link type="text/css" href="https://s3.amazonaws.com/glowscript/css/ide.css" rel="stylesheet" />
-->
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/glowscript/lib/jquery/2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/glowscript/lib/jquery/2.1/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/glowscript/package/glow.2.7.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/glowscript/package/RSrun.2.7.min.js"></script>
<script type="text/javascript"><!--//--><![CDATA[//><!--
;(function() { var __rt=srequire('streamline/lib/callbacks/runtime').runtime(__filename, false),__func=__rt.__func,__cb=__rt.__cb; var RS_modules = {};
RS_modules.pythonize = {};

(function() {
  function strings() {
    var string_funcs, exclude, name;
    string_funcs = set("capitalize strip lstrip rstrip islower isupper isspace lower upper swapcase center count endswith startswith find rfind index rindex format join ljust rjust partition rpartition replace split rsplit splitlines zfill".split(" "));
    if (!arguments.length) {
      exclude = (function() {
        var s = RS_set();
        s.jsset.add("split");
        s.jsset.add("replace");
        return s;
      })(); }
     else if (arguments[0]) {
      exclude = Array.prototype.slice.call(arguments); }
     else {
      exclude = null; }  ;

    if (exclude) {
      string_funcs = string_funcs.difference(set(exclude)); } ;

    var RS_Iter0 = RS_Iterable(string_funcs);
    for (var RS_Index0 = 0; RS_Index0["<"](RS_Iter0.length); RS_Index0++) {
      name = RS_Iter0[RS_Index0];
      (RS_expr_temp = String.prototype)[((((typeof name === "number") && name["<"](0))) ? RS_expr_temp.length["+"](name) : name)] = (RS_expr_temp = RS_str.prototype)[((((typeof name === "number") && name["<"](0))) ? RS_expr_temp.length["+"](name) : name)]; }; };  RS_modules.pythonize.strings = strings;
})();
function main(_) { var version, box, sphere, cylinder, pyramid, cone, helix, ellipsoid, ring, arrow, compound, display, vector, print, scene, RS_ls, x_min, x_max, y_min, y_max, x0, delta_x, plot, func, sec, x0_bar, x0_delta_x_bar, points, x, slider_canvas, x0_text, x0_slider, delta_x_text, delta_x_slider, __name__, strings, RS_Index1, __this = this;  function f(x) {
    var RS_ls;
    "25";
    return cos(x); };


  function secant(x, x0, delta_x) {
    var RS_ls;
    "28";
    return f(x0["+"](delta_x))["-"](f(x0))["/"](delta_x)["*"](x)["-"](f(x0["+"](delta_x))["-"](f(x0))["/"](delta_x)["*"](x0))["+"](f(x0)); };
  function update() {
    var RS_ls, x0, delta_x, x;
    "51";
    x0 = x0_slider.value;
    "52";
    delta_x = delta_x_slider.value;
    "54";
    sec.data = (function() {
      var RS_Iter = RS_Iterable(range(x_min, x_max, 0.001)), RS_Result = [], x;
      for (var RS_Index = 0; RS_Index["<"](RS_Iter.length); RS_Index++) {
        x = RS_Iter[RS_Index];
        RS_Result.push(RS_list_decorate([x,secant(x, x0, delta_x),])); };

      RS_Result = RS_list_constructor(RS_Result);
      return RS_Result;
    })();
    "56";
    x0_bar.data = RS_list_decorate([RS_list_decorate([x0,1.5["-u"](),]),RS_list_decorate([x0,f(x0),]),]);
    "57";
    x0_delta_x_bar.data = RS_list_decorate([RS_list_decorate([x0["+"](delta_x),1.5["-u"](),]),RS_list_decorate([x0["+"](delta_x),f(x0["+"](delta_x)),]),]);
    "59";
    points.data = RS_list_decorate([RS_list_decorate([x0,f(x0),]),RS_list_decorate([x0["+"](delta_x),f(x0["+"](delta_x)),]),]);
    "60";
    x0_text.text = "{:1.2f}".format(x0);
    "61";
    delta_x_text.text = "{:1.2f}".format(delta_x); }; var __frame = { name: "main", line: 32 }; return __func(_, this, arguments, main, 0, __frame, function __$main() { version = RS_list_decorate(["2.7","glowscript",]); Array.prototype["+"] = function(r) { return this.concat(r); }; Array.prototype["*"] = function(r) { return __array_times_number(this, r); }; __name__ = "__main__"; window.__GSlang = "vpython"; box = vp_box; sphere = vp_sphere; cylinder = vp_cylinder; pyramid = vp_pyramid; cone = vp_cone; helix = vp_helix; ellipsoid = vp_ellipsoid; ring = vp_ring; arrow = vp_arrow; compound = vp_compound; display = canvas; vector = vec; print = GSprint; scene = canvas(); strings = RS_modules.pythonize.strings; strings(); "2"; return (function ___closure(_) { var RS_d; RS_d = { }; RS_d["extensions"] = RS_list_decorate(["tex2jax.js",]); RS_d["jax"] = RS_list_decorate(["input/TeX","output/HTML-CSS",]); return (function ___closure(_) { var RS_d; RS_d = { }; RS_d["fonts"] = RS_list_decorate(["TeX",]); return _(null, RS_d); })(__cb(_, __frame, 4, 27, function ___(__0, __1) { RS_d["HTML-CSS"] = __1; RS_d["displayAlign"] = "center"; return _(null, RS_d); }, true)); })(__cb(_, __frame, 25, 23, function ___(__0, __1) { MathJax.Hub.Config(__1); "9"; MathJax.Hub.Queue(RS_list_decorate(["Typeset",MathJax.Hub,])); "11"; scene.width = 0; "12"; scene.height = 0; "13"; scene.resizable = false; "14"; scene.visible = false; "16"; x_min = 0; "17"; x_max = 2["*"](pi); "18"; y_min = 1.5["-u"](); "19"; y_max = 1.5; "21"; x0 = 3; "22"; delta_x = 0.5; "24"; if (!f.__argnames__) { Object.defineProperties(f, { __argnames__: { value: ["x",] } }); } ; "27"; if (!secant.__argnames__) { Object.defineProperties(secant, { __argnames__: { value: ["x","x0","delta_x",] } }); } ; "31"; plot = RS_interpolate_kwargs.call(__this, graph, [RS_desugar_kwargs({ width: 600, height: 300, xmin: x_min, xmax: x_max, ymin: y_min, ymax: y_max, xtitle: "<i>x<\/i>", ytitle: "<i>f</i>(<i>x</i>)" }),]); "34"; func = RS_interpolate_kwargs.call(__this, gcurve, [RS_desugar_kwargs({ color: color.black }),]); "35"; sec = RS_interpolate_kwargs.call(__this, gcurve, [RS_desugar_kwargs({ color: color.red }),]); "36"; x0_bar = RS_interpolate_kwargs.call(__this, gcurve, [RS_desugar_kwargs({ color: color.blue }),]); "37"; x0_delta_x_bar = RS_interpolate_kwargs.call(__this, gcurve, [RS_desugar_kwargs({ color: color.blue }),]); "38"; points = RS_interpolate_kwargs.call(__this, gdots, [RS_desugar_kwargs({ color: color.blue }),]); "41"; for (RS_Index1 = x_min; RS_Index1["<"](x_max); RS_Index1 = RS_Index1["+="](0.001)) { x = RS_Index1; "42"; func.plot(x, f(x)); "43"; sec.plot(x, secant(x, x0, delta_x)); }; "45"; x0_bar.plot(RS_list_decorate([RS_list_decorate([x0,1.5["-u"](),]),RS_list_decorate([x0,f(x0),]),])); "46"; x0_delta_x_bar.plot(RS_list_decorate([RS_list_decorate([x0["+"](delta_x),1.5["-u"](),]),RS_list_decorate([x0["+"](delta_x),f(x0["+"](delta_x)),]),])); "47"; points.plot(RS_list_decorate([RS_list_decorate([x0,f(x0),]),RS_list_decorate([x0["+"](delta_x),f(x0["+"](delta_x)),]),])); "50";


      "63";
      slider_canvas = RS_interpolate_kwargs.call(__this, canvas, [RS_desugar_kwargs({ width: 0, height: 0, resizable: false, visible: false }),]);
      "66";
      box();
      "68";
      slider_canvas.append_to_caption("\\(x_0 =\\) ");
      "69";
      x0_text = RS_interpolate_kwargs.call(__this, wtext, [RS_desugar_kwargs({ text: "{:1.2f}".format(x0) }),]);
      "70";
      slider_canvas.append_to_caption("\n");
      "71";
      x0_slider = RS_interpolate_kwargs.call(__this, slider, [RS_desugar_kwargs({ min: x_min, max: 5, value: x0, step: 0.01, length: 600, bind: update, pos: slider_canvas.caption_anchor }),]);
      "73";
      slider_canvas.append_to_caption("\n");
      "74";
      slider_canvas.append_to_caption("\\(\\Delta x =\\) ");
      "75";
      delta_x_text = RS_interpolate_kwargs.call(__this, wtext, [RS_desugar_kwargs({ text: "{:1.2f}".format(delta_x) }),]);
      "76";
      slider_canvas.append_to_caption("\n");
      "77";
      delta_x_slider = RS_interpolate_kwargs.call(__this, slider, [RS_desugar_kwargs({ min: 0.001, max: 2, value: delta_x, step: 0.001, length: 600, bind: update, pos: slider_canvas.caption_anchor }),]);
      "79";
      slider_canvas.append_to_caption("\n"); ; }, true)); });};

if (!main.__argnames__) { Object.defineProperties(main, {
    __argnames__: { value: ["_",] } });};

;$(function(){ window.__context = { glowscript_container: $("#glowscript").removeAttr("id") }; main(__func) })})()
//--><!]]></script>
</div>
